/* *************** BASE *************** */
.base, .normal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  height: min-content;
  padding: 12px 20px;
  font: 16px 'Montserrat';
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

/* *************** SMALL *************** */
.small {
  padding: 8px 14px;
  font: 14px 'Montserrat';
}

/* *************** LARGE *************** */
.large {
  padding: 16px 24px;
  font: 20px 'Montserrat';
}

/* *************** PRIMARY *************** */
.primary {
  color: var(--white);
  background: var(--orange);
  border: 1px none var(--black-shadow);
}
.primary:hover {
  background: var(--tomate);
}
.primary:disabled {
  background: var(--orange);
  opacity: 50%;
  cursor: not-allowed;
}

/* *************** SECONDARY *************** */
.secondary {
  color: var(--orange);
  background: var(--white);
  border: 1.5px solid var(--orange);
}
.secondary:hover {
  color: var(--white);
  background: var(--orange);
}
.secondary:disabled {
  border: 1.5px solid var(--black-shadow);
  color: var(--black-shadow);
  background: var(--white);
  cursor: not-allowed;
}
