#primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font: 21px 'Montserrat';
  color: var(--white);
  background: var(--orange);
  border: 1px none var(--black-shadow);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#primary-button:hover {
  background: var(--tomate);
}